<div>
  <h2 id="page-heading" data-cy="StudentPWHeading">
    <span jhiTranslate="profEtudiantApp.studentPW.home.title">StudentPWS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-success btn-sm me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="profEtudiantApp.studentPW.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-secondary btn-sm jh-create-entity create-student-pw"
        [routerLink]="['/student-pw/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="profEtudiantApp.studentPW.home.createLabel">Créer un nouveau Student PW</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="studentPWS?.length === 0">
    <span jhiTranslate="profEtudiantApp.studentPW.home.notFound">Aucun Student PW trouvé</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="studentPWS && studentPWS.length > 0">
    <table class="table table-bordered" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="time">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.time">Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imageFront">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.imageFront">Image Front</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="imageSide">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.imageSide">Image Side</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="date">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.date">Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mesureAngle1">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.mesureAngle1">Mesure Angle 1</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mesureAngle2">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.mesureAngle2">Mesure Angle 2</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="intersection">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.intersection">Intersection</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="student.id">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.student">Student</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pw.title">
            <div class="d-flex">
              <span jhiTranslate="profEtudiantApp.studentPW.pw">Pw</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex justify-content-center">
              <span>Action</span>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let studentPW of studentPWS; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/student-pw', studentPW.id, 'view']">{{ studentPW.id }}</a>
          </td>
          <td>{{ studentPW.time }}</td>
          <td>
            <a *ngIf="studentPW.imageFront" (click)="openFile(studentPW.imageFront, studentPW.imageFrontContentType)">
              <img
                [src]="'data:' + studentPW.imageFrontContentType + ';base64,' + studentPW.imageFront"
                style="max-height: 30px"
                alt="studentPW image"
              />
            </a>
            <span *ngIf="studentPW.imageFront">{{ studentPW.imageFrontContentType }}, {{ byteSize(studentPW.imageFront) }}</span>
          </td>
          <td>
            <a *ngIf="studentPW.imageSide" (click)="openFile(studentPW.imageSide, studentPW.imageSideContentType)">
              <img
                [src]="'data:' + studentPW.imageSideContentType + ';base64,' + studentPW.imageSide"
                style="max-height: 30px"
                alt="studentPW image"
              />
            </a>
            <span *ngIf="studentPW.imageSide">{{ studentPW.imageSideContentType }}, {{ byteSize(studentPW.imageSide) }}</span>
          </td>
          <td>{{ studentPW.date | formatMediumDate }}</td>
          <td>{{ studentPW.mesureAngle1 }}</td>
          <td>{{ studentPW.mesureAngle2 }}</td>
          <td>{{ studentPW.intersection }}</td>
          <td>
            <div *ngIf="studentPW.student">
              <a [routerLink]="['/student', studentPW.student.id, 'view']">{{ studentPW.student.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="studentPW.pw">
              <a [routerLink]="['/pw', studentPW.pw.id, 'view']">{{ studentPW.pw.title }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="d-flex justify-content-center">
              <a [routerLink]="['/student-pw', studentPW.id, 'view']" class="btn btn-outline-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </a>

              <a [routerLink]="['/student-pw', studentPW.id, 'edit']" class="btn btn-outline-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </a>

              <button type="submit" (click)="delete(studentPW)" class="btn btn-outline-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
